[Unit]
After=network.target

[Service]
User=root
Group=root
Restart=on-failure
RestartSec=30s
Type=simple
ExecStart=/usr/bin/backup-repo --config=/etc/backup-repo/config.yaml
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=default.target
